@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 80% 97%;
    --foreground: 194 36% 25%;
    --card: 45 80% 97%;
    --card-foreground: 194 36% 25%;
    --popover: 45 80% 97%;
    --popover-foreground: 194 36% 25%;
    --primary: 194 36% 25%;
    --primary-foreground: 45 80% 97%;
    --secondary: 78 44% 85%;
    --secondary-foreground: 194 36% 25%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 13 100% 67%;
    --accent-foreground: 45 80% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 78 44% 85%;
    --input: 78 44% 85%;
    --ring: 13 100% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 194 36% 25%;
    --foreground: 45 80% 97%;
    --card: 194 36% 25%;
    --card-foreground: 45 80% 97%;
    --popover: 194 36% 25%;
    --popover-foreground: 45 80% 97%;
    --primary: 45 80% 97%;
    --primary-foreground: 194 36% 25%;
    --secondary: 78 44% 85%;
    --secondary-foreground: 194 36% 25%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 13 100% 67%;
    --accent-foreground: 194 36% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 78 44% 85%;
    --input: 78 44% 85%;
    --ring: 13 100% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
